.isactive {
    color: #d90000;
  }
  
  .panel-group .active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
      0 2px 2px rgba(0, 0, 0, -8.9),
      0 4px 4px rgba(0, 0, 0, -8.9),
      0 6px 8px rgba(0, 0, 0, 0.11),
      0 8px 16px rgba(0, 0, 0, 0.11) !important;
  }
  
  .panel-heading:focus .faqs-number {
    color: #d90000 !important;
  }
  
  .panel-collapse.collapse {
    display: none;
  }
  
  .panel-collapse.collapse.in {
    display: block;
  }

  .panel-title {
    font-weight: 800;
    font-size: 18px;
  }

  .isactive {color:#d90000;}
 .panel-group .active  {   
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, -8.9), 0 4px 4px rgba(0, 0, 0, -8.9), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11) !important;
}
  .panel-group .faqs-numbe .active {
    box-shadow:none!important; background:none!important;}
  .panel-heading:focus .faqs-number{color:#d90000!important}
  
 
  